@font-face {
	font-family: 'Noto Serif';
	src: url('../assets/font/NotoSerif-Regular.ttf') format(truetype),
		 url('../assets/font/NotoSerif-Bold.ttf') format(truetype);
}

:root {
	font-family: 'Noto Serif';
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}



